## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [3]:
myList = ["Python", "Java", "Matlab"]

Some of the commonly used libraries used by Data Scientists include:

In [4]:
myListLibrary = ["NumPy", "Pandas", "Matplotlib"]

| Data Science Tools |
| --- |
| Hadoop |
| Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
mins = 200
hrs = mins/60

In [7]:
hrs

3.3333333333333335

# Objectives:

- Python 
- SQL 
- R. 
- JavaScript 
- Java 
- Scala

## Author
Rishabh